<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="src/js/jquery.notebook.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Blog Post Güncelle</title>
</head>
<body>
  <% if (isAdmin) { %>  
    <%- include('../partials/headers/headerAdmin.ejs') %>
  <% } else if (isAuthenticated) { %>
    <%- include('../partials/headers/headerAuth.ejs') %>
  <% } else { %>
    <%- include('../partials/headers/headerUnAuth.ejs') %>
  <% } %>
    <form method="post">
        <textarea id="mytextarea">Hello, World!</textarea>
    </form>   
    <script src="../../../node_modules/tinymce/tinymce.js" referrerpolicy="origin">
      tinymce.init({
        selector: '#mytextarea',
        license_key: 'gpl|<your-license-key>'
      });
    </script>
</body>
</html>