<!DOCTYPE html>
<html data-theme="light" style="min-height: 100vh; display: flex; flex-direction: column;">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Include any other head content here -->
  </head>
  <body style="flex-grow: 1; background-color: transparent;">
   
    <div class="content-wrapper flex-grow">
      <!-- The main content of the page will be rendered here -->
      <%- body %>
    </div>

    <!-- add footer here -->
    <%- include('./partials/footer.ejs') %>
  </body>
  <script type="text/javascript" defer src="/js/script.js"></script>
  <script>
    function toggleTheme() {
  const currentTheme = document.documentElement.getAttribute('data-theme');
  const newTheme = currentTheme === 'light' ? 'retro' : 'light';

  document.documentElement.setAttribute('data-theme', newTheme);

  // Put it to local storage
  localStorage.setItem('theme', newTheme);
}

function loadTheme() {
  const theme = localStorage.getItem('theme');
  if (theme) {
    document.documentElement.setAttribute('data-theme', theme);
  }
}

loadTheme();

function showSeachBar() {
  const searchBar = document.querySelector('.searchBar');
  searchBar.style.display = 'block';
  searchBar.style.visibility = 'visible';
}

function closeSearchBar() { 
  const searchBar = document.querySelector('.searchBar');
  searchBar.style.display = 'none';
  document.getElementById('searchInput').value = '';
}

function getProfileInfo() {
  fetch('/users/')
    .then(res => res.json())
    .then(data => {
      const dateObj = new Date(data.createdAt);
      const month = dateObj.toLocaleString('default', { month: 'long' });
      const day = dateObj.getDate();
      const year = dateObj.getFullYear();
      const fields = {
        createdAt: [month, day, year],
        degree: data.degree,
        email: data.email,
        isSubscribed: data.isSubscribed ? 'Yes' : 'Nope :(',
        isVerified: data.isVerified ? 'Yes' : 'Nope :(',
        role: data.role,
        visitCount: data.visitCount
      };
      Object.entries(fields).forEach(([id, value]) => {
        const input = document.getElementById(id);
        input.classList.remove('skeleton');
        input.value = Array.isArray(value) ? value.join(' ') : value;
      });
    })
    .catch(console.error);
}
  </script>
</html>