<!DOCTYPE html>
<html data-theme="light" style="min-height: 100vh; display: flex; flex-direction: column;">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <!-- Include any other head content here -->
  </head>

  <body style="flex-grow: 1; background-color: transparent;">
   
    <div class="content-wrapper flex-grow">
      <!-- The main content of the page will be rendered here -->
      <%- body %>
    </div>

    <!-- add footer here -->
    <%- include('./partials/footer.ejs') %>
  </body>
  <script>
    function toggleTheme() {
  const currentTheme = document.documentElement.getAttribute('data-theme');
  const newTheme = currentTheme === 'light' ? 'retro' : 'light';

  document.documentElement.setAttribute('data-theme', newTheme);

  // Put it to local storage
  localStorage.setItem('theme', newTheme);
}

function loadTheme() {
  const theme = localStorage.getItem('theme');
  if (theme) {
    document.documentElement.setAttribute('data-theme', theme);
  }
}

loadTheme();

function showSeachBar() {
  const searchBar = document.querySelector('.searchBar');
  searchBar.style.display = 'block';
  searchBar.style.visibility = 'visible';
}

function closeSearchBar() { 
  const searchBar = document.querySelector('.searchBar');
  searchBar.style.display = 'none';
  document.getElementById('searchInput').value = '';
}

function getProfileInfo() {
  fetch('/users/')
    .then(res => res.json())
    .then(data => {
      const fields = {
        name: data.name,
        degree: data.degree,
        email: data.email,
        isSubscribed: data.isSubscribed ? 'Yes' : 'Nope :(',
        isVerified: data.isVerified ? 'Yes' : 'Nope :(',
        role: data.role,
      };
      Object.entries(fields).forEach(([id, value]) => {
        const input = document.getElementById(id);
        input.classList.remove('skeleton');
        input.value = Array.isArray(value) ? value.join(' ') : value;
      });
      const imageElement = document.getElementById('imageUrl');
      if (imageElement) {
        imageElement.src = data.imageURL;
      }
    })
    .catch(console.error);
}
  </script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-374PKNVBJL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-374PKNVBJL');
  </script>
</html>