<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Atakan's Blog Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Include any other head content here -->
</head>
<body>

    <!-- The main content of the page will be rendered here -->
    <%- body %>

    <!-- Include any other scripts or footer content here -->
</body>
<script type="text/javascript" defer src="/js/script.js"></script>
</html>