<footer class="footer footer-center p-4 bg-base-300 text-base-content flex justify-center align-middle position-relative">
  <aside class="footer-center">
    <p>Copyright © <%= new Date().getFullYear() %> - All right reserved by <a class="underline" href="https://atakangul.com">Atakan Gül</a></p>
  </aside>
</footer>
