<div class="searchBar">
    <div class="container">
      <form action="/blogs/search" method="POST" class="search__form" role="search">
        <input 
          type="search"
          aria-label="Seach"
          id="searchInput"
          name="searchTerm"
          placeholder="Sitede ara..."
        >
      </form>
      <div id="searchClose">Close</div>
    </div>
  </div>