<header class="header p-3">
  <a href="/" class="header__logo">Atakan's Blog</a>

  <ul class="nav d-flex ms-auto align-items-center gap-3">
    <li>
      <a href="/blogs/subscribe" class="text-danger">Subscribe</a>
    </li>
    <li class="nav-item dropdown">
      <div class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke="#212b36"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          fill="none"
        >
          <circle cx="12" cy="8" r="5" />
          <path d="M3,21 h18 C 21,12 3,12 3,21" />
        </svg>
      </div>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/login">Giriş yap</a></li>
        <li><a class="dropdown-item" href="/signup">Kayıt ol</a></li>
        <li><a class="dropdown-item" href="/settings">Ayarlar</a></li>
        <li><a class="dropdown-item">Rengi değiştir</a></li>
      </ul>
    </li>
  </ul>
</header>